.list-container {
    counter-reset: list-counter;
    /* カウンターのリセット */
}

.list-item {
    counter-increment: list-counter;
    /* カウンターの増加 */
    position: relative;
    /* 番号の位置のための相対位置 */
    margin-bottom: 10px;
    /* リストアイテム間の余白 */
    padding-left: 30px;
    /* テキストと番号の間の余白 */
    list-style: none;
}

.list-item::before {
    content: counter(list-counter) ". ";
    /* カウンター値とピリオドを表示 */
    position: absolute;
    /* テキストから分離 */
    left: 0;
    /* 左端からの位置 */
    
}